<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.LoginUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.LogoutUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAlbumController</servlet-name>
        <servlet-class>controller.AddAlbumController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAlbumController</servlet-name>
        <url-pattern>/addAlbumController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.RegisterUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>makeReviewController</servlet-name>
        <servlet-class>controller.MakeReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>makeReviewController</servlet-name>
        <url-pattern>/makeReviewController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>seeReviewController</servlet-name>
        <servlet-class>controller.SeeReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seeReviewController</servlet-name>
        <url-pattern>/seeReviewController</url-pattern>
    </servlet-mapping>
    <!-- ************************************************* -->
    <servlet>
        <servlet-name>loginView</servlet-name>
        <jsp-file>loginUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginView</servlet-name>
        <url-pattern>/loginView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerView</servlet-name>
        <jsp-file>registerUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerView</servlet-name>
        <url-pattern>/registerView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAlbumView</servlet-name>
        <jsp-file>addAlbum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAlbumView</servlet-name>
        <url-pattern>/addAlbumView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>albumListView</servlet-name>
        <jsp-file>albumList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>albumListView</servlet-name>
        <url-pattern>/albumListView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>makeReviewView</servlet-name>
        <jsp-file>makeReview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>makeReviewView</servlet-name>
        <url-pattern>/makeReviewView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>seeReviewView</servlet-name>
        <jsp-file>seeReview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>seeReviewView</servlet-name>
        <url-pattern>/seeReviewView</url-pattern>
    </servlet-mapping>
</web-app>
