<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>controller.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAlbumController</servlet-name>
        <servlet-class>controller.AddAlbumController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>controller.RegisterUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginUserView</servlet-name>
        <jsp-file>LoginUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginUserView</servlet-name>
        <url-pattern>/loginUserView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerUserView</servlet-name>
        <jsp-file>RegisterUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserView</servlet-name>
        <url-pattern>/registerUserView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAlbumView</servlet-name>
        <jsp-file>addAlbum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAlbumView</servlet-name>
        <url-pattern>/addAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAlbumController</servlet-name>
        <url-pattern>/AddAlbumController</url-pattern>
    </servlet-mapping>
</web-app>
