/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 12:16:37 PM
    Author     : isma94
*/

body {
    min-height: 1000px;
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-group {
    padding-bottom: 20px;
}

.score {
    font-size: large;
    color: gold;
}

.review-button-group .btn {
    width: 120px;
}