/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 12:16:37 PM
    Author     : isma94
*/

body {
    min-height: 1000px;
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.score {
    font-size: large;
    color: goldenrod;
    margin-bottom: 5px;
}

.review-btn-group .btn {
    width: 140px;
}

.album-list {
    margin-top: 20px;
}

.album-card {
    height: 140px;
    background-color: khaki;
    margin-bottom: 10px;
}

.review-card {
    background-color: yellowgreen;
    margin-bottom: 10px;
}

.album-card img {
    border-width: medium;
    border-style: groove;
    border-color: darkblue;
}

.comment-header {
    color: darkred;
}

.review-text {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.comment-list {
    margin-bottom: 10px;
}

.review-card hr {
    margin-top: 10px;
    margin-bottom: 10px;
}